# Segurança e Credenciais
.env

# Bancos de dados locais estruturados
database/*.db

# Caches e arquivos compilados do Python (em qualquer subdiretório)
**/__pycache__/
**/*.pyc

# Pastas de dados e downloads
anexos/

# Cache e estado do Playwright
**/.playwright-mcp/

# Compilados do Frontend (builds de produção do Angular)
compilados/

# IDEs
/.idea/